body {
	text-align: center;
	text-shadow: 0 .1rem .1rem white;
	font-family: 'Roboto', sans-serif;
	color: black;
	height: 100%;
	background-image: url('https://cdn.pixabay.com/photo/2019/03/18/04/53/bird-4062358_960_720.jpg');
	background-size: cover;
	font-weight: 100;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

h1 {
	margin: 40;
	font-size: 100px;
	line-height: 100px;
	font-weight: 100;
}

p {
	margin: 0;
	font-size: 50px;
}

.form {
	line-height: 1.5;
	border: 3px solid black;
	border-bottom: 3px solid black;
	margin-top: 100px;
	width: 700px;
	font-size: 2.9em;
	color: white;
	padding: 1px 2px;
	background: #c0c0c0;
}

button {
	line-height: 1.5;
	border: black;
	border: 3px solid black;
	font-size: 1.9em;
	color: rgb(66, 69, 86);
	padding: 5px 30px;
	background: rgba(255, 255, 255, 1.0);
	border-radius: 5px;
	opacity: 0.8;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.8);
}

input[type=text]:focus {
	outline: none;
}

button:hover {
	opacity: 1;
}