<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
<div class="flex-container">
   <div class="container">
      <h1>JOIN US</h1>
      <p class="lead">Sign up today with your email like<strong><%= count %></strong> others on this sign up form . This is a repo simulation. </p>
      <form method="POST" action='/register'>
         <input type="text" name="email" class="form" placeholder="Enter Your Email">
         <button>Join Now</button>
      </form>
   </div>
</div>